/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
}

ul, ol{
	padding:0px;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}

a{
	color: #4B4B4B;
}

.barraSuperior{
	background:#018ba7;
}

.barraSuperior a{
	color:white;
}

.backColor, .backColor a{
	background:#47bac1;
	color:white;
}

/*=============================================
PARTE SUPERIOR
=============================================*/

.logoCabezote{
	width:55px;
	height:50px;
	text-align: center;
	display:inline;
}

.logoGrande{
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex; 
  	align-items: center;
  	justify-content: center;
}

.contactos{
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex; 
  	align-items: center;
  	justify-content: center;
}

.numeros{
	padding-top: 40px;
	padding-bottom: 10px;
	display: flex; 
  	align-items: center;
  	justify-content: center;
}

.linea{
  border-right: 1px solid #808080;
  width:1px;
  height:40px;
  padding-left: 10px;
}

.centrarAjustar{
	display: flex; 
  	align-items: center;
  	justify-content: center;
}

.textoCarrito p{
	font-size: 85%;
	margin-bottom: 0;
}

ul.menuPrincipal li > * :hover {
  color: #47abd2;
}

ul.nmenuPrincipal li > * :focus {
  color: #227190;
}


.tamaños a{

		padding: 10px;
		border-radius: 5px;
}

.tamaños > a:hover{

	background-color: #f5f5f5;
}





/*=============================================
ERROR 404
=============================================*/

.error404{
	color:#333;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.col-lg-0{
		display: none;
	}

	.error404 h1{
		font-size:300px;
		text-shadow:8px 8px 1px #dadada;
	}

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	.col-md-0{
		display: none;
	}

	.error404 h1{
		font-size:200px;
		text-shadow:6px 6px 1px #dadada;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	.col-sm-0{
		display: none;
	}

	.error404 h1{
		font-size:150px;
		text-shadow:4px 4px 1px #dadada;
	}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.col-xs-0{
		display: none;
	}

	.error404 h1{
		font-size:75px;
		text-shadow:2px 2px 1px #dadada;
	}

}
 /* Tooltip container */
